a {
	color: var( --color-primary );
	@include smooth-transition();
}

a:hover,
a:focus-visible {
	color: var( --color-coral );
}

h1,
h2,
h3 {
	margin: 0 0 0.55em;
	font-family: var( --font-heading );
	color: var( --color-navy );
	letter-spacing: 0.01em;
}

h1 {
	font-size: var( --font-size-h1 );
	font-weight: 700;
	line-height: 1.1;
}

h2 {
	font-size: var( --font-size-h2 );
	font-weight: 600;
	line-height: 1.2;
}

h3 {
	font-size: var( --font-size-h3 );
	font-weight: 500;
	line-height: 1.25;
}

p,
ul,
ol {
	margin: 0 0 1em;
	font-family: var( --font-body );
	font-size: var( --font-size-body );
	font-weight: 400;
	line-height: 1.7;
}
